<tui-island size="l" [hoverable]="false" [textAlign]="'center'" class="container">
    <form [formGroup]="model.form">
        <h3 class="tui-form__header tui-form__header_margin-top_none">Регистрация</h3>
        <div class="tui-form__row">
            <tui-input class="tui-form__multi-field"
                       formControlName="fullname"
                       tuiHintContent="ФИО">Ваше имя
            </tui-input>
        </div>
        <div class="tui-form__row">
            <tui-input class="tui-form__multi-field"
                       formControlName="login"
                       tuiHintContent="Username">Логин
            </tui-input>
        </div>
        <div class="tui-form__row">
            <tui-input class="tui-form__multi-field"
                       formControlName="email"
                       tuiHintContent="Email">Почта
            </tui-input>
        </div>
        <div class="tui-form__row">
            <tui-input-password class="tui-form__multi-field"
                                formControlName="password"
                                tuiHintContent="Password">Пароль
            </tui-input-password>
        </div>
        <div class="tui-form__buttons tui-form__buttons_align_end">
            <button class="tui-form__button" type="button" appearance="secondary" tuiButton (click)="navigateToLogin()">
                Уже зарегистрированны?
            </button>
            <button class="tui-form__button" type="submit" tuiButton (click)="onSubmit()">
                Зарегистрироваться
            </button>
        </div>
    </form>
</tui-island>
