<input type="checkbox" id="side-checkbox" />
<div class="side-panel">
    <label class="side-button-2" for="side-checkbox">+</label>
    <div class="side-title">TypeScript</div>
    <div *ngFor="let title of courseTitle">
        <button class="tab" (click)="setTheme(title)">
            <label style="cursor: pointer" for="side-checkbox">{{title}}</label>
        </button>
    </div>
</div>
<div class="side-button-1-wr">
    <label class="side-button-1" for="side-checkbox">
        <div class="side-b side-open">Темы</div>
    </label>
</div>
<div class="course" *ngIf="themeVideo[lessonNumber]">
    <h1>{{courseTitle[lessonNumber]}}</h1>
    <iframe *ngIf="themeVideo[lessonNumber]" width='560' height='315'
            [src]="themeVideo[lessonNumber] | safeUrl"
            allow fullscreen>
    </iframe>
</div>
<div class="task" *ngIf="themeDescription[lessonNumber]">
    <h1>{{courseTitle[lessonNumber]}}</h1>
    <p class="description">{{themeDescription[lessonNumber]}}</p>
</div>

