@import '~@taiga-ui/core/styles/taiga-ui-local';

.aside-box {
    top: 4rem;
    min-height: 92vh;

}
.aside-border{
    border-right: 1px solid var(--tui-base-03);
}

.header-box{
    border-color: #0a0a0a;
    border-bottom: 1px solid var(--tui-base-03);
    .shadow(2);
    
    &.tui-row{
        height: 8vh;
        align-items: center;
    }
}

.content-box{
    padding-top: 5vh;;
    padding-left: 5vw;
}

